.container {
    max-width: 1000px;
}

.landing-title {
    font-weight: 700;
    font-size: 24pt;
}

.landing-block p {
    font-weight: 300;
    font-size: 14pt;
}

.email-link {
    font-weight: 300;
    font-size: 14pt;
    color: black;
}